<h1>Find Your Favorite Pets </h1>

{{#each allPets}}

<p>Pet's Name: {{this.petsname}}</p>
<p>Breed: {{this.breed}}</p>
<p>Owner: {{this.owner.username}}</p>
<img style='width:300px; height: 300px; object-fit:cover' src="{{this.petsimage}}" alt="{{this.petsname}}">

{{#if (isid this.owner._id)}}
<form method='POST' action='/pets/like'>
    <input type='hidden' value='{{this.owner._id}}' name='id' />
    <button>Like💚</button>
</form>
{{/if}}


{{/each}}