<h1>Your Pet's Profile</h1>

{{#each pet}}

<p>Pet's Name: {{petsname}}</p>
<p>Breed: {{breed}}</p>
<p>Owner: {{owner}}</p>
<img style='width:300px; height: 300px; object-fit:cover' src="{{petsimage}}" alt="{{petsname}}">



{{/each}}