<h1>Your added the Pets: </h1>

{{#each pets}}

<p>Pet's Name: {{this.petsname}}</p>
<p>Breed: {{this.breed}}</p>
<p>Owner: {{this.owner.username}}</p>
<img style='width:300px; height: 300px; object-fit:cover' src="{{this.petsimage}}" alt="{{this.petsname}}">

{{!-- here add links for edit or delete a pet --}}
<a href="/pets/{{this._id}}/edit">Edit</a>

<form action="/pets/{{this._id}}/delete" method="POST" enctype="multipart/form-data">
<button type="submit">Delete</button>
</form>



{{!-- pestapp.com/:userId/registerpet
pestapp.com/:userId/petsdatail
pestapp.com/:userId/edit,delete
pestapp.com/:userId/pets --}}


{{/each}}

<a href="/user/{{userProfile._id}}">Your Profile</a>
<a href="/allPets">See All Other Pets</a>