<h1>Your added the Pets: </h1>

{{#each pets}}

<p>Pet's Name: {{this.petsname}}</p>
<p>Breed: {{this.breed}}</p>
<p>Owner: {{this.owner.username}}</p>
<img style='width:300px; height: 300px; object-fit:cover' src="{{this.petsimage}}" alt="{{this.petsname}}">

{{!-- here add links for edit or delete a pet --}}
<a href="/user:id">Your Profile</a>
<a href="/allPets">See All Other Pets</a>

{{!-- <a href="/pets">pet like page</a> --}}
<a href="/users/{{pet._id}}/edit">Edit</a>
<a href="/">Delete</a>


{{!-- pestapp.com/:userId/registerpet
pestapp.com/:userId/petsdatail
pestapp.com/:userId/edit,delete
pestapp.com/:userId/pets --}}




{{/each}}
