<a href="/">Home</a>
<a href="/user-profile">Your Profile</a>
<a href="/allPets">See All Other Pets</a>

<h1>Your added the Pets: </h1>

<div style='display:flex; flex-wrap: wrap'>
    {{#each pets}}
    <div style='padding:5px; margin:5px'>
        <p>Pet's Name: {{this.petsname}}</p>
        <p>Breed: {{this.breed}}</p>
        <p>Owner: {{this.owner.username}}</p>
        <img style='width:300px; height: 300px; object-fit:cover' src="{{this.petsimage}}" alt="{{this.petsname}}">

        {{!-- here add links for edit or delete a pet --}}
        <div style='display:flex'>
            <a href="/pets/{{this._id}}/edit"><button>Edit</button></a>

            <form action="/pets/{{this._id}}/delete" method="POST" enctype="multipart/form-data">
                <button type="submit">Delete</button>
            </form>
        </div>

    </div>

    {{!-- pestapp.com/:userId/registerpet
    pestapp.com/:userId/petsdatail
    pestapp.com/:userId/edit,delete
    pestapp.com/:userId/pets --}}


    {{/each}}
</div>