{{> navbar}}
<div class="pets-details-page">
    <h1>Add your pet and start matching!</h1>
    <div class="pets-card" style='display:flex; flex-wrap: wrap; flex-direction:row; justify-content:center; align-items:center;'>
            {{#each pets}}
            <div style="padding: 30px">
                <div class="card p-5 border-0" style="background-color: rgb(44, 41, 41); color:white; border-radius:1.2rem;">
                    <div class="card-body">
                        <h5 class="card-title">Pet's name: {{this.petsname}}</h5>
                        <p class="card-text">Breed: {{this.breed}}</p>
                        <p class="card-text">Owner: {{this.owner.username}}</p>
                    <img src="{{this.petsimage}}" class="card-img-bottom rounded" alt="{{this.petsimage}}"
                        style="width:300px; height: 300px; object-fit:cover">
    
                    </div>
                    {{!-- here add links for edit or delete a pet --}}
                    <div style='display:flex; justify-content:space-around; padding: 10px'>
                        
                        <form action="/register-pets">
                            <button class="btn btn-dark" type="submit">Add</button>
                        </form>

                        <form action="/pets/{{this._id}}/edit">
                            <button class="btn btn-dark" type="submit">Edit</button>
                        </form>

                        <form action="/pets/{{this._id}}/delete" method="POST" enctype="multipart/form-data">
                            <button class="btn btn-light" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
            </div>
            {{/each}}
     </div> 
</div>
